@import url(../../vendor/fonts.css);

.app {
  background-color: #fcf5e5;
  min-height: 100vh;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
}

.app__section {
  max-width: 1280px;
  margin: 0 auto;
}