@import url(../../vendor/fonts.css);

.app {
  margin: 0;
  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.app__section {
  max-width: 1280px;
  margin: 0 auto;
}