.cards {

}

.cards__text {
    font-size: 20px;
}

.cards__list {
    max-width: 1360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: space-evenly;
}

.cards__item {
    height: 328px;
    width: 325px;
}